ReservasWeb/ReservasWeb/Service References/SOAPClientes/ClienteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1636/ClienteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1636/ClienteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1636/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
      <xsd:import schemaLocation="http://localhost:1636/ClienteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel.DataAnnotations" />
      <xsd:import schemaLocation="http://localhost:1636/ClienteService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteService_RegistrarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_RegistrarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ObtenerCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ObtenerCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ModificarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ModificarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ListarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ListarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ValidarClienteExistemte_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarClienteExistemte" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ValidarClienteExistemte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarClienteExistemteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ValidarClienteExistemte_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ComponentModel.DataAnnotations" name="detail" element="q1:ValidationException" />
  </wsdl:message>
  <wsdl:portType name="IClienteService">
    <wsdl:operation name="RegistrarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/RegistrarCliente" message="tns:IClienteService_RegistrarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/RegistrarClienteResponse" message="tns:IClienteService_RegistrarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ObtenerCliente" message="tns:IClienteService_ObtenerCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ObtenerClienteResponse" message="tns:IClienteService_ObtenerCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ModificarCliente" message="tns:IClienteService_ModificarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ModificarClienteResponse" message="tns:IClienteService_ModificarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/Eliminar" message="tns:IClienteService_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/EliminarResponse" message="tns:IClienteService_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ListarCliente" message="tns:IClienteService_ListarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ListarClienteResponse" message="tns:IClienteService_ListarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarClienteExistemte">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ValidarClienteExistemte" message="tns:IClienteService_ValidarClienteExistemte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ValidarClienteExistemteResponse" message="tns:IClienteService_ValidarClienteExistemte_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClienteService/ValidarClienteExistemteValidationExceptionFault" name="ValidationExceptionFault" message="tns:IClienteService_ValidarClienteExistemte_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteService" type="tns:IClienteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/RegistrarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ObtenerCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ModificarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ListarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarClienteExistemte">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ValidarClienteExistemte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClienteService" binding="tns:BasicHttpBinding_IClienteService">
      <soap:address location="http://localhost:1636/ClienteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>