trunk/ReservasWeb/ReservasWeb/Service References/SOAPVehiculo/Vehiculo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="anio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codCliente" type="xs:int" />
      <xs:element minOccurs="0" name="codcolor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codmodelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="motor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehiculo" nillable="true" type="tns:Vehiculo" />
</xs:schema>