ReservasWeb/ReservasWeb/Service References/SOAPReservas/Reserva1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="codReserva" type="xs:int" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroReserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numCodigoAsesor" type="xs:int" />
      <xs:element minOccurs="0" name="numExpress" type="xs:int" />
      <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reservaDetalle" nillable="true" type="tns:ArrayOfReservaDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reserva" nillable="true" type="tns:Reserva" />
  <xs:complexType name="ArrayOfReservaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservaDetalle" nillable="true" type="tns:ReservaDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservaDetalle" nillable="true" type="tns:ArrayOfReservaDetalle" />
  <xs:complexType name="ReservaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="codDetalle" type="xs:int" />
      <xs:element minOccurs="0" name="codOper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codOperSer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codReserva" type="xs:int" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservaDetalle" nillable="true" type="tns:ReservaDetalle" />
  <xs:complexType name="ArrayOfReserva">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reserva" nillable="true" type="tns:Reserva" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReserva" nillable="true" type="tns:ArrayOfReserva" />
</xs:schema>