ReservasWeb/ReservasWeb/Service References/SOAPHorario/Horario1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1636/Horario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
  <xs:element name="fnObtenerHorario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fnObtenerHorarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="fnObtenerHorarioResult" nillable="true" type="q1:Horario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fnObtenerRangoHorario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="fnObtenerRangoHorarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="fnObtenerRangoHorarioResult" nillable="true" type="q2:ArrayOfHorario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>