trunk/ReservasWeb/ReservasWeb/Service References/SOAPAsesor/Asesor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1636/Asesor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
  <xs:element name="fnObtenerAsesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numCodigoAsesor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fnObtenerAsesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="fnObtenerAsesorResult" nillable="true" type="q1:Asesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>